.header_container {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: white;
  margin-bottom: 1rem;
  
  .header_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    .logo_link {
      display: flex;
      align-items: center;
      width: 180px;
      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .signin_prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .signin_text {
        color: #7C7C7C;
        font-size: 0.9375rem;
        font-weight: 500;

        .signin_link {
                color: #2BAAB1;
                font-weight: 500;
                text-decoration: none;
                margin-left: 0.25rem;
                transition: color 0.2s ease;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

  @media (max-width: 768px) {
    .header_content {
      padding: 0 1rem;
      flex-direction: column;
      gap: 1rem;
    }

    .signin_prompt {
      font-size: 0.875rem;
    }
  }
}