#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.app_container {
  background-color: white;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.message-icon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 1000;

  &:hover{
    transform: scale(1.1);
  }
}
